<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="https://static.vline.com/vline.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="javascripts/script.js"></script>
</head>
<body>
	<aside>
		<h1>Interview Room</h1>
		<button id="log">Login</button>
		<button id="call">Call</button>
	</aside>
	<div id="video_wrapper"></div>
</body>
</html>